{% import "/macro/htmltag.html.twig" as macros %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="private, max-age=3600">
    <title>№{{ doc.doc_number }} {{ doc.doc_client_name }}</title>
</head>
<body>
<form name="form-{{ dlgID }}" id="form-{{ dlgID }}" action="" data-dlgid="{{ dlgID }}" data-docuid="{{ doc.doc_uid }}" class="datacontainer
        {% if doc.signs|column('type')|filter(v => v == 12) or doc.doc_isblack %} bg-danger {% endif %}">
    <main role="form">
        <div class="btn-toolbar headermenu flex-nowrap align-self-end" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="Service group">
                {{ macros.btnprint() }}
                {{ macros.btnmessenger() }}
            </div>
            <div class="btn-group me-2 maingroup" role="group" aria-label="Main group">
                <button type="button" class="btn {{ btnsize }} btn-primary" id="btnsave">
                    <span class="d-none d-md-inline-block">{{ lang.save }}&nbsp;</span>
                    <i class="bi bi-save"></i>
                </button>
            </div>

        </div>
        <div id="tabsorder" class="tab">
            <div class="sticky-top mx-0">
                <ul class="nav nav-tabs flex-sm-row flex-nowrap text-nowrap rounded" id="orderTabs" role="tablist" style="overflow-x: auto;overflow-y: hidden">
                    <li class="nav-item">
                        <button type="button" data-bs-toggle="tab" id="htab-order-0" class="nav-link active" data-bs-target="#tab-pane-order-0" aria-controls="tab-pane-order-0"
                                aria-selected="true" role="tab">{{ lang.description }}
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" data-bs-toggle="tab" id="htab-order-1" class="nav-link" data-bs-target="#tab-pane-order-1" aria-controls="tab-pane-order-1"
                                aria-selected="false"
                                role="tab">{{ lang.specs }} ({{ doc.doc_sum|number_format(2,'.','') }})
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" data-bs-toggle="tab" id="htab-order-2" class="nav-link" data-bs-target="#tab-pane-order-2" aria-controls="tab-pane-order-2"
                                aria-selected="false"
                                role="tab">{{ lang.delivery }}: {{ lang[doc.doc_delivery] }}</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" data-bs-toggle="tab" id="htab-order-3" class="nav-link" data-bs-target="#tab-pane-order-3" aria-controls="tab-pane-order-3"
                                aria-selected="false"
                                role="tab">{{ lang.payment }}: {{ lang[doc.doc_payment] }}</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" data-bs-toggle="tab" id="htab-order-4" class="nav-link" data-bs-target="#tab-pane-order-4" aria-controls="tab-pane-order-4"
                                aria-selected="false"
                                role="tab">{{ lang.signs }}
                        </button>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="tab-pane-order-0" class="tab-pane fade show active" role="tabpanel" aria-labelledby="htab-order-0">
                    <div class="p-md-3">
                        <div class="row form-group">

                            <div class="card col-sm me-2 pb-2">
                                <div class="row form-group">
                                    <div class="col-sm-4 col-md-2">
                                        <label for="labtxt_number">{{ lang.number }}</label>
                                        {{ macros.inputlimit_only(_context, 'labtxt_number', doc.doc_number, {limit:'16',ro:true}) }}
                                    </div>
                                    <div class="col-sm-8 col-md-4">
                                        <label for="doc_date_create">{{ lang.date }}</label>
                                        {{ macros.inputlimit_only(_context, 'doc_date_create', doc.doc_date_create|replace({':000000': ''})|date("Y-m-d H:i"), {limit:'16',ro:true}) }}
                                    </div>
                                    <div class="col-md-6">
                                        <label for="doc_seller">{{ lang.seller }}</label>
                                        {{ macros.inputlimit_only(_context, 'doc_seller_title', doc.doc_seller_title , {limit:'16',ro:true}) }}
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col">
                                        <label for="doc_client_comment">{{ lang.comments_customer }}</label>
                                        {{ macros.textarea(_context,'doc_client_comment',doc.doc_client_comment,{'ro':true,'class':'textwrapper'}) }}
                                    </div>
                                </div>
                            </div>

                            <div class="card col-sm">
                                <div class="row align-items-center form-group">
                                    <div class="col-md-6">
                                        <label for="doc_client_name">{{ lang.customer }}</label>
                                        {{ macros.inputlimit_only(_context, 'doc_client_name', doc.doc_client_name, {limit:'48'}) }}
                                    </div>
                                    <div class="col-md-6">
                                        <label for="doc_client_phone">{{ lang.phone }}</label>
                                        {{ macros.inputlimit_only(_context, 'doc_client_phone', doc.doc_client_phone, {limit:'13'}) }}
                                    </div>
                                    <div class="col-md-6 pt-3">
                                        <div class="form-check">
                                            {{ macros.checkbox(_context,'doc_client_dncall', doc.doc_client_dncall) }}
                                            <label for="doc_client_dncall" class="font-weight-light">Не передзвонювати</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 align-self-start">
                                        <label for="doc_client_email">Email</label>
                                        {{ macros.inputlimit_only(_context, 'doc_client_email', doc.doc_client_email, {limit:'32'}) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="doc_manager_comment">{{ lang.comments_manager }}</label>
                                        {{ macros.textarea(_context,'doc_manager_comment',doc.doc_manager_comment,{'class':'textwrapper'}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-pane-order-1" class="tab-pane fade" role="tabpanel" aria-labelledby="htab-order-1">
                    <div id="docspectitle" name="docspectitle">
                        <table id="docspectable{{ dlgID }}" name="docspectable{{ dlgID }}" class="docspectable{{ dlgID }} table table-sm table-responsive-sm table-striped">
                            <thead class="">
                            <tr>
                                <th>{{ lang.num }}</th>
                                <th>{{ lang.goods_code_title }}</th>
                                <th>{{ lang.product_name }}</th>
                                <th>{{ lang.quantity }}</th>
                                <th>{{ lang.price }}</th>
                                <th>{{ lang.sum }}</th>
                                <th>{{ lang.weight }}</th>
                                <th>{{ lang.ondemand }}</th>
                                <th>{{ lang.actual }}</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for specrow in doc.specs %}
                                <tr data-specuid="{{ specrow.docspec_uid }}" data-specid="{{ specrow.docspec_id }}"
                                    class="selectabled {% if specrow.docspec_price <= 0 %}text-bg-secondary{% endif %}">
                                    <td>{{ loop.index }}</td>
                                    <td>{{ specrow.docspec_product_sku }}</td>
                                    <td>
                                        <a href="/{{ specrow.ref_url|default(specrow.docspec_product_weblink) }}" target="_blank">
                                            <img src="/{{ specrow.ref_image|default(specrow.docspec_product_photo)|replace({'assets/images/':'assets/cache/images/250x250_1x1-checkout/'})|trim('/',side='left') }}"
                                                 width="100" height="100" class="lazy float-start me-2">
                                        </a>
                                        {{ specrow.docspec_product_name|raw }}
                                        <br><a href="/{{ specrow.ref_url|default(specrow.docspec_product_weblink) }}"
                                               target=_blank>{{ specrow.docspec_product_name2 }}</a>
                                        {% if specrow.ref_available == 0 %}
                                            <div class="align-self-end small badge text-bg-secondary">статус на сайті: немає в наявності</div>
                                        {% endif %}
                                        {% if specrow.ref_inbalances == 0 %}
                                            <div class="align-self-end small badge text-bg-info">не залежіть від залишків</div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ macros.inputamount(dlgID,"docspec_amount__" ~ specrow['docspec_uid'], specrow['docspec_amount']|number_format) }}
                                    </td>
                                    <td valign="right">{{ specrow.docspec_price|number_format(2,'.','') }}</td>
                                    <td valign="right">{{ specrow.docspec_sum|number_format(2,'.','') }}</td>
                                    <td class="text-secondary text-center">
                                        {% if specrow.ref_weight > 0 %}{{ specrow.ref_weight|number_format(0,'.','') }}{% endif %}</td>
                                    <td width="20">
                                        {{ macros.checkbox(_context,'docspec_ondemand__' ~ specrow.docspec_uid, specrow.docspec_ondemand) }}
                                    </td>
                                    <td width="20">
                                        {{ macros.checkbox(_context,'docspec_enable__' ~ specrow.docspec_uid, specrow.docspec_enable ) }}
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="tab-pane-order-2" class="tab-pane fade" role="tabpanel" aria-labelledby="htab-order-2">
                    <div class="p-md-3">
                        <div class="row">

                            <div class="col pb-2">
                                <div class="row">
                                    <div class="col-md">
                                        <label for="doc_delivery_client_name">{{ lang.recipient }}</label>
                                        {{ macros.inputlimit_only(_context, 'doc_delivery_client_name', doc.doc_delivery_client_name, {limit:'48'}) }}
                                    </div>
                                    <div class="col-md">
                                        <label for="doc_delivery_client_phone">{{ lang.phone }}</label>
                                        {{ macros.inputlimit_only(_context, 'doc_delivery_client_phone', doc.doc_delivery_client_phone, {limit:'13'}) }}
                                    </div>
                                    <div class="col-md">
                                        <label for="just_email">{{ lang.email }}</label>
                                        {{ macros.inputlimit_only(_context, 'just_email', doc.doc_client_email, {limit:'32',ro:true}) }}
                                    </div>
                                    <div class="col-md">
                                        <label for="doc_delivery">{{ lang.delivery_type }}</label>
                                        <select class="form-control component" id="doc_delivery" name="doc_delivery">
                                            {% for st in doc.typeofdelivery %}
                                                {% if st.name == doc.doc_delivery %}
                                                    <option selected="selected" value="{{ st.name }}">{{ lang[st.name] }}</option>
                                                {% else %}
                                                    <option value="{{ st.name }}">{{ lang[st.name] }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md">
                                        <label for="doc_client_address">{{ lang.delivery_to }}
                                            <a class="btn {{ btnsize }} btn-info" target=_blank title="Відкрити Google Map"
                                               href="https://www.google.com.ua/maps/search/{{ doc.doc_client_address }}"><i class="bi bi-geo-alt"></i></a>
                                        </label>
                                        {{ macros.textarea(dlgID,'doc_client_address',doc.doc_client_address,'','textwrapper') }}
                                    </div>
                                    <div class="col-md mt-1" id="deliveryblock">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label for="doc_delivery_weight">{{ lang.weight }} ({{ lang.calc }})</label>
                                                {{ macros.inputlimit_only(_context, 'doc_delivery_weight', 0, {limit:'5',ro:true}) }}
                                            </div>
                                            <div class="col-lg-5 pt-1">
                                                <label for="doc_delivery_number">{{ lang.delivery_number }}</label>
                                                <div class="input-group">
                                                    {{ macros.inputlimit_only(_context, 'doc_delivery_number', doc.doc_delivery_number, {limit:'20'}) }}
                                                    {{ macros.btntracking(doc) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-7 pt-1">
                                                <label for="doc_sign_3">{{ lang.status_3 }}</label>
                                                {{ macros.signcheck("doc_sign",3,lang.status_3,doc.signs) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tab-pane-order-3" class="tab-pane fade" role="tabpanel" aria-labelledby="htab-order-3">
                    <div class="p-md-3">
                        <div class="row">
                            <div class="c1ard col-sm pb-2">
                                <label for="doc_payee">{{ lang.payment_bank_recipient }}</label>
                                <select class="form-control component" id="doc_payee" name="doc_payee">
                                    {% for st in doc.typeofpayee %}
                                        {% if st.uid == doc.doc_payee %}
                                            <option selected="selected" value="{{ st.uid }}">{{ st.label }}</option>
                                        {% else %}
                                            <option value="{{ st.uid }}">{{ st.label }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <label for="doc_payment">{{ lang.payment_type }}</label>
                                <select class="form-control component" id="doc_payment" name="doc_payment">
                                    {% for st in doc.typeofpayment %}
                                        {% if st.name == doc.doc_payment %}
                                            <option selected="selected" value="{{ st.name }}">{{ lang[st.name] }}</option>
                                        {% else %}
                                            <option value="{{ st.name }}">{{ lang[st.name] }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="c1ard col-sm-12 col-md-6 mt-2 mt-md-0 pt-2">
                                <div class="card p-1 mb-2">
                                    {{ macros.signcheck("doc_sign",2,lang.status_2,doc.signs,'doc_paysum') }}
                                    {{ macros.input('doc_paysum',doc.doc_paysum, lang.payment_bank_amount) }}
                                </div>
                                {{ macros.signcheck("doc_sign",13,lang.status_13,doc.signs) }}
                                {{ macros.signcheck("doc_sign",6,lang.status_6,doc.signs) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tab-pane-order-4" class="tab-pane fade" role="tabpanel" aria-labelledby="htab-order-4">
                    <div class="p-md-3">
                        <div class="row">
                            <div class="col-md-6">
                                {{ macros.signcheck("doc_sign",9,lang.status_9,doc.signs) }}
                                {{ macros.signcheck("doc_sign",10,lang.status_10,doc.signs) }}
                                {{ macros.signcheck("doc_sign",8,lang.status_8,doc.signs) }}
                            </div>
                            <div class="col-md-6">
                                {{ macros.signcheck("doc_sign",4,lang.status_4,doc.signs) }}
                                {{ macros.signcheck("doc_sign",5,lang.status_5,doc.signs,0,0,'b1g-light t1ext-secondary') }}
                                {{ macros.signcheck("doc_sign",12,lang.status_12,doc.signs,0,0,'b1g-light t1ext-danger') }}
                                {% if doc.doc_isblack %}
                                    {{ macros.text("doc_sign_12","Цєй статус встановлено автоматично на підставі попередніх замовлень","Чорний список (авто)",'b1g-light t1ext-danger') }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {{ macros.hidden("doc_manager_name",doc.doc_manager_name) }}
    {{ macros.hidden("doc_manager", doc.doc_manager) }}
</form>

<script>

    $(document).ready(function () {

        $(document).on('click', '#htab-order-5', function (e) {
            $(this).attr('data-loaded', 0);
        });

        $('#doc_delivery,#doc_payment,#doc_payee').on('change', function () {
            Modify('{{ dlgID }}', true);
        });

        $('#orderTabs li:eq({{ tabactive }}) button').tab('show');
        OnInitTableMy(".docspectable{{ dlgID }}");
        recountSumOS(".docspectable{{ dlgID }}");

        $("#doc_delivery").on('change', function () {
            if ($(this).find(":selected").attr('data-notrequired')) {
                $("#deliveryblock").toggleClass("d-none");
                return true;
            }
            $("#deliveryblock").removeClass("d-none");
        });

        $('#doc_delivery option:selected').change();
        Modify('{{ dlgID }}', false);
        $('#{{ dlgID }}').children().find('button.mainbtnclose').attr('data-bs-dismiss', '');

        $(".checkbox").on('change', function () {
            Modify('{{ dlgID }}', true);
        });

        $(".signcheck").on('change', function () {
            OnCheckSign(this.id, '{{ user.name }}', {{ user.id }});
            ActivateGroup_v3(this.id, $(this).attr('data-group'));
            Modify('{{ dlgID }}', true);
        });

    });

    function OnCheckSign(id, username, userid) {
        let dNow = new Date($.now());
        let d = dNow.getDate();
        d = (d < 10 ? ('0' + d) : d);
        let m = dNow.getMonth();
        m += 1;  // JavaScript months are 0-11
        m = (m < 10 ? ('0' + m) : m);
        const y = dNow.getFullYear();

        let localdate = y + "-" + m + "-" + d;
        localdate = localdate + " " + (dNow.getHours() < 10 ? '0' : '') + dNow.getHours() + ":" + (dNow.getMinutes() < 10 ? '0' : '') + dNow.getMinutes() + ":" + (dNow.getSeconds() < 10 ? '0' : '') + dNow.getSeconds();

        if ($("#" + id).is(':checked')) {
            $("#" + id + "_date").val(localdate);
            $("#" + id + "_manager_name").val(username);
            $("#" + id + "_manager").val(userid);
        } else {
            $("#" + id + "_date").val(localdate);
            $("#" + id + "_manager_name").val(username);
            $("#" + id + "_manager").val(userid);
            // but clear label field
            localdate = '';
            username = '';
            userid = '';
        }
        $("#l" + id + "_date").text(localdate);
        $("#l" + id + "_manager_name").text(username);
    }

    function OnInitTableMy(tablename) {

        $("input[name^=docspec_ondemand]").on('click', function () {
            $(this).closest('tr').toggleClass("ondemand-1");
        });

        $("input[name^=docspec_enable]").on('click', function () {
            recountSumOS(".docspectable{{ dlgID }}");
        });

        $("input[name^=docspec_amount]").on('input', function () {
            const val = $(this).val();
            if ((val <= 0) || !$.isNumeric(val)) $(this).val(0);

            const amount = $(this).val();
            const price = $(this).closest('td').next().html();
            const sum = (parseFloat(amount) * parseFloat(price)).toFixed(2);
            $(this).closest('td').next().next().html(sum);
            Modify('{{ dlgID }}', true);
            recountSumOS(".docspectable{{ dlgID }}");
        });
    }

    function recountSumOS(tabname) {
        let totalsum = 0;
        let totalweight = 0;

        $(tabname + ' tr[data-specuid]').each(function (i) {
            let rsum = $(this).find('td:eq(5)').html();
            let weight = $(this).find('td:eq(6)').html();
            let amount = $(this).find('td:eq(3)').find("input[name^=docspec_amount]").val();
            weight = weight * amount;
            const renb = $(this).find('td:eq(8)').html();
            if ($("#" + $(renb).prop("name")).is(":checked")) {
                totalsum = (parseFloat(totalsum) + parseFloat(rsum)).toFixed(2);
                totalweight = (parseFloat(totalweight) + parseFloat(weight)).toFixed(0);
            }
        });
        $("#doc_delivery_weight").text(totalweight).val(totalweight);
        $("button:contains('{{ lang.specs }} (')").text('{{ lang.specs }} (' + totalsum + ')');
    }

</script>

</body>
</html>
