<div class="card">
    <div class="card-body">
        Поточний статус: Замовлення №{{ doc.doc_number }} від {{ doc.doc_date_create|date("d.m.Y") }} - <span class="text-primary">{{ lang['status_'~doc.doc_status] }}</span>
    </div>
</div>
{% if doc.delivery != 'dt_pickup' %}
    {% if doc.doc_delivery_number %}
        <div class="card">
            <div class="card-header border-0">
                <div class="float-end">
                    <a href="{{ doc.trk_urltracking }}" target="_blank" title="Відстежити вантаж по номеру декларації" class="btn {{ btnsize }} {{ btnclass }}"><i
                                class="bi bi-box-arrow-in-right"></i> інформація з сайту {{ doc.trk_title }}</a>
                </div>
                <b>Статус доставки службою {{ lang[doc.doc_delivery] }}</b>
            </div>
            <div class="card-body">{{ doc.trackingservice|raw }}</div>
        </div>
    {% endif %}
{% endif %}

