<div class="card bgg mt-3">
    <div class="card-body text-center mb-2">
        <p class="text-start mb-1">
            <span class="badge text-bg-success">Liqpay</span>
        </p>
        {% if pt.ptcontent and not pt.ptcontent.error %}
            {{ lang.payment_bank_note_inline }}{{ doc.doc_number }}
            <br>
            {{ lang.payment_bank_amount|lower }}
            <p class="h5"><strong>{{ doc.doc_paysum|number_format(2, '.', '') }} грн</strong></p>
            {{ pt.ptcontent.form|raw }}
        {% else %}
            {{ include ('pt_online_disabled.html.twig') }}
        {% endif %}
    </div>
    <div class="card-footer">
        <img src="https://static.liqpay.ua/pay/140605140723/img/sprite_footer.png" border="0" alt="Liqpay online payment">
    </div>
</div>
