{% if doc.payee %}
    {% for pt in doc.payee.pt|filter(pt => pt.type == 'pt_cashless') %}
        <div class="col-md">
            <div class="card border-0 bgg mt-3">
                <div class="card-body border-0 p-0 ">
                    {{ lang.payment_bank_details }}:
                    <table class="table table-bordered" style="table-layout: fixed; width: 100%">
                        <tr>
                            <td>{{ lang.payment_bank_recipient }}:</td>
                            <td>{{ pt.label }}</td>
                        </tr>
                        <tr>
                            <td>{{ lang.payment_bank_iban }}:</td>
                            <td>{{ pt.account }}</td>
                        </tr>
                        <tr>
                            <td>{{ lang.payment_bank_usr }}:</td>
                            <td>{{ pt.okpo }}</td>
                        </tr>
                        <tr>
                            <td>{{ lang.payment_bank_amount }}:</td>
                            <td><b>{{ doc.doc_paysum|number_format(2, '.', '') }} грн</b></td>
                        </tr>
                        <tr>
                            <td>{{ lang.payment_bank_note }}:
                                <div class="text-lowercase text-danger small">{{ lang.payment_bank_excl }}</div>
                            </td>
                            <td><b>{{ lang.payment_bank_note_inline }}{{ doc.doc_number }}</b></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card border-0 bgg">
                <div class="card-body text-center">
                    <h5>
                        Відскануйте цей код додатком в телефоні або тапніть на його що б спробувати заповнити реквізити автоматично.
                    </h5>
                    {% set qrurl = ['BCD','002','1','UCT','',pt.label,pt.account,'UAH' ~ doc.doc_paysum|number_format(2, ".", ""),pt.okpo,'','',lang.payment_bank_note_inline ~' '~ doc.doc_number,'']|join('\n') %}
                    <a href="https://bank.gov.ua/qr/{{ qrurl|base64url_encode | raw }}">{{ formatBarcode({'s':'https://bank.gov.ua/qr/'~ qrurl|base64url_encode,'c':'blue','bg':'yellow'}) | raw }}</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
