{% import "/macro/htmltag.html.twig" as macros %}
<div class="jumbotron p-3 rounded">
    <h4 class="display-5">Дякуємо, що обрали саме нас, {{ docs[0].doc_client_name }}!</h4>
    <hr class="my-4">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3">
        {% for doc in docs|filter(doc => doc.doc_sum >= 1) %}
            {% set signs = doc.signs|column('type') %}
            <div class="card col text-bg-light">
                <div class="d-flex flex-column p-3 h-100 ">
                    <div class="card-title">
                        <div class="float-end small badge border rounded-pill text-success">{{ lang['status_' ~ doc.doc_status] }}</div>
                        <span class="h5">Замовлення №{{ doc.doc_number }}</span>
                    </div>
                    <p class="card-text text-center">
                        {% for spec in doc.specs %}
                            <img class="img-fluid" src="/[[GetImage? &src=`{{ spec.docspec_product_photo }}` &phpthumb=`webp=1` &preset=`goods-tnx`]]">
                        {% endfor %}
                    </p>
                    {% if signs|filter(v => v == 2) and doc.doc_paysum > 0 and not signs|filter(v => v in [4,5,6,13]) %}
                        <a class="btn btn-success mt-2" href="{{ macros.linkinvoice(_context,{onlylink:true})|spaceless }}">{{ lang.action_pay }}</a>
                    {% else %}
                        <a href="{{ macros.linktracking(_context,{onlylink:true})|spaceless }}" class="btn btn-primary mt-auto">{{ lang.action_tracking}}</a>
                    {% endif %}
                </div>
            </div>

        {% endfor %}
    </div>

    <p class="text-center text-md-start"></p>

    <p><strong>Зверніть увагу!</strong>
        Наша система обробки замовлень може автоматично надіслати {% if docs[0].doc_client_email %}електроний лист або{% endif %} повідомлення на телефон з реквізитами для
        оплати,
        а якщо виникнуть питання менеджери обов'язково зв'яжуться з вами.</p>
    {% if doc[0].doc_client_email %}
        <p>На вказану електронну поштову адресу <b>{{ docs[0].doc_client_email }}</b>, відправлено лист з копією вашого замовлення і посиланням для відстеження стану обробки. Якщо
            ви не бачите такого листа - перевірте папку "Спам" в поштовій скриньці.</p>
    {% endif %}

    {% if marketplace.regime %}
        <p><strong>Час роботи відділу обробки інтернет-замовлень:</strong></p>
        <ul>
            {% for r in marketplace.regime %}
                <li>{{ r }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <p>Гарного вам дня!</p>
    {{ include('contact.html.twig')|raw }}
</div>
