{{ include(['chunk-CheckoutSpec' ~ lang ~ '.html.twig', 'chunk-CheckoutSpec.html.twig']) }}
<div id="cfcd">
    <form class="mt-2" method="post" id="CheckoutForm" name="CheckoutForm">
        <input id="token" type="hidden" name="token">
        <p class="pt-4 h5">{{ lang.customer }}</p>
        <div class="py-2 card card-header">
            <div class="row mb-2">
                <label class="col-lg-3 col-form-label" for="name">{{ lang.name_surname }}*</label>
                <div class="col-lg-9">
                    <input class="form-control" type="text" maxlength="32" minlength="3" id="name" name="name" placeholder="{{ lang.customer }} {{ lang.name_surname }}" required>
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-lg-3 col-form-label" for="phone">{{ lang.phone }}*</label>
                <div class="col-lg-9">
                    <input class="form-control" type="tel" id="phone" name="phone" placeholder="{{ lang.phone_placeholder }}" required><small
                            class="text-muted">({{ lang.phone_tips }})</small>
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-lg-3 col-form-label" for="telegram">Telegram*<span class="small d-block">{{ lang.primary_contact_type }}</span></label>
                <div class="col-lg-9">
                    <input class="form-control" type="text" id="telegram" name="telegram" placeholder="telegram"><small
                            class="text-muted">({{ lang.telegram_tips }})</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label" for="email">{{ lang.email }}</label>
                <div class="col-lg-9">
                    <input class="form-control" type="email" id="email" name="email" size="60" placeholder="{{ lang.email }}"><small class="text-muted">({{ lang.email_tips }})</small>
                </div>
            </div>
        </div>

        <p class="pt-4 h5">{{ lang.delivery }}</p>
        <div class="py-2 card card-header">
            <div class="form-group row">
                <label class="col-lg-3 col-form-label">{{ lang.delivery_type }}</label>
                <div class="col-lg-9">
                    {% for dt in delivery %}
                        <div class="form-check py-1">
                            <input class="form-check-input" type="radio" id="{{ dt.name }}" name="typedelivery" value="{{ dt.name }}">
                            <label class="form-check-label" for="{{ dt.name }}">{% if dt.label2 %}{{ dt.label2 }}{% else %}{{ lang[dt.name] }}{% endif %}
                                {% if dt.tariffs %}
                                    <br><span class="text-muted small">
                                <a href="{{ dt.tariffs }}" target="_blank">{{ lang.delivery_tariffs }}</a>
                                </span>
                                {% endif %}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="mt-2 delivery_block d-none form-floating">
                <textarea class="form-control" placeholder="{{ lang.delivery_to }}" id="address" name="address" style="height: 100px"></textarea>
                <label for="address" class="text-lowercase">{{ lang.delivery_to }}</label>
            </div>

            <p class="pt-4 fw-bold">{{ lang.recipient }}</p>
            <div class="row mb-2">
                <label class="col-lg-3 form-label" for="name_delivery">{{ lang.name_surname }}*</label>
                <div class="col-lg-9">
                    <input class="form-control" type="text" maxlength="32" minlength="3" id="name_delivery" name="name_delivery" placeholder="{{ lang.recipient }} {{ lang.name_surname }}">
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-lg-3 form-label" for="phone_delivery">{{ lang.phone }}*</label>
                <div class="col-lg-9">
                    <input class="form-control" type="tel" id="phone_delivery" name="phone_delivery" placeholder="{{ lang.recipient }} {{ lang.phone_placeholder }}"><small
                            class="text-muted">({{ lang.phone_tips }})</small>
                </div>
            </div>
        </div>

        <p class="pt-4 h5">{{ lang.payment }}</p>
        <div class="py-2 card card-header">
            <div class="form-group row">
                <span class="col-lg-3 col-form-label">{{ lang.payment_type }}</span>
                <div class="col-lg-9">
                    {% for pt in payment %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="{{ pt.name }}" name="typepayment" value="{{ pt.name }}">
                            <label class="form-check-label" for="{{ pt.name }}">{% if pt.label2 %}{{ pt.label2 }}{% else %}{{ lang[pt.name] }}{% endif %}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <p class="pt-4 h5">{{ lang.optional }}</p>
        <div class="py-2 card card-header">
            <div class="form-group row">
                <label class="col-lg-3 col-form-label" for="message" id="message_label">{{ lang.additionally_comment }}</label>
                <div class="col-lg-9">
                    <textarea maxlength='512' data-maxlength="512" class="form-control" id="message" name="message"></textarea>
                </div>
            </div>
        </div>

        <p></p>
        <div class="form-group text-center">
            <input type="submit" name="submit" class="button btn btn-success rounded-lg" value="{{ lang.action_checkout_confirm }}">
        </div>
        <div class="form-group text-center small mt-2">
            {{ lang.agreement_tips }} <a class="text-info" type="button" data-bs-toggle="modal" data-bs-target="#dlgUgoda">{{ lang.agreement }}</a>
        </div>
    </form>
</div>
<div class="card m-2 px-2 py-1 border border-warning text-center bg-light">
    <a class="text-info" type="button" data-bs-toggle="modal" data-bs-target="#dlgSupport"><i class="bi bi-send me-1"></i>{{ lang.assistance_tips }}</a>
</div>

{{ include(['chunk-CheckoutAgreement' ~ lang ~ '.html.twig', 'chunk-CheckoutAgreement.html.twig']) }}

{% include ['dlg.html.twig'] %}

{{ include(['chunk-CheckoutAssistance' ~ lang ~ '.html.twig', 'chunk-CheckoutAssistance.html.twig']) }}

<script>
    {% include ['js/checkout.js.twig'] %}
</script>
<style>
    select option[disabled], .form-control option:disabled {
        display: none;
    }
</style>
