<div class="jumbotron p-3 rounded">
    <h4 class="display-5">Thank you for choosing us, [+doc_client_name+]!</h4>
    <p class="lead">Your order has been assigned the number <b>[+doc_number+]</b></p>
    <hr class="my-4">
    <p>Our managers will start working on your order shortly, and if there are any questions, they will definitely contact you.</p>
    <div class="mx-auto mb-1" style="width: 200px;"><a href="/en/t?[+doc_uid+]" class="btn btn-primary"><i class="bi bi-info-circle"></i> Check Status</a></div>
    <p><strong>Attention!</strong> Our system may automatically send {% if docs[0].doc_client_email %}an email or{% endif %} a message to your phone with payment details for the order without a call from the manager.</p>
    <p>We understand that you may not always be able to answer a call during business hours. Therefore, if we can't reach you, we will contact you {% if docs[0].doc_client_email %}via email or{% endif %} through Telegram.</p>
    {% if docs[0].doc_client_email %}
        <p>An email with a copy of your order and a link to track its status has been sent to <b>{{ docs[0].doc_client_email }}</b>. If you don't see such an email, please check the "Spam" folder in your inbox.</p>
    {% endif %}
    {% if marketplace.regime %}
        <p><strong>Working hours of the online order processing department:</strong></p>
        <ul>
            {% for r in marketplace.regime %}
                <li>{{ r }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <p>Have a great day!</p>
    {% if marketplace.contact %}
        <hr>
        <p class="h5 text-center text-md-start">Have questions? Contact us:</p>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            {% apply spaceless %}
                {% for c in marketplace.contact|filter(c => not c.invisible and c.type in ['viber','telegram']) %}
                    <div class="card text-bg-light mb-3">
                        <div class="row g-0">
                            <div class="col text-center align-self-center">
                                <a class="d-block d-sm-inline" href="
{% if c.type == 'telegram' %}tg://resolve?domain={% endif %}
{% if c.type == 'viber' %}tel:+{% endif %}
{{ c.number }}"><i class="bi bi-{{ c.type}} bi-2x"></i></a>
                            </div>
                            <div class="col-12 col-sm-10">
                                <div class="card-body">
                                    <p class="card-text text-center text-sm-start">{{ c.type }}: <a class="d-block d-sm-inline" href="
{% if c.type == 'telegram' %}tg://resolve?domain={% endif %}
{% if c.type == 'viber' %}tel:+{% endif %}
{{ c.number }}">{{ c.label }}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endapply %}
        </div>
    {% endif %}
</div>